=link_to "Twitter", '/auth/twitter'
=link_to "Instagram", '/auth/instagram'
= form_for @user do |f| 

  = f.label :name 
  = f.text_field :name 

  = f.label :email
  = f.email_field :email
  
  = f.submit 