%h1 Boards

= render partial: 'search_board'

%table
  %tr
    %th Name
    %th Description
    %th Creator

  - for board in @boards
    %tr
      %td= board.name 
      %i 
        %td= board.description 
      %td= board.user.name if board.user
      %td= link_to "Show", board 
      %td= link_to "Edit", edit_board_path(board) 
      %td= link_to "Destroy", board, confirm: 'Are you sure?', method: :delete 

  
%p= link_to "New Board", new_board_path