%h1 Board

%p
  %strong Name:
  = @board.name

%p
  %strong Description:
  = @board.description


%p
  = link_to "Edit", edit_board_path(@board)
  = link_to "Destroy", @board, :confirm => 'Are you sure?', :method => :delete |
  = link_to "View All", boards_path

