.board-name
  %h2= @board.name

.board_desc
  %h4.subheader= "#{@board.description}" 
%p.board_actions
  - if current_user
    - hideFollow = !BoardUser.where(user_id: current_user.id, board_id: @board.id).empty?
    %span.glyph.general [
    = link_to 'Edit', '#' ,class: 'board-edit', remote: true
    %span.glyph.general o
    = render partial: "follow_or_unfollow_board_link", locals: { board: @board }

.inline-edit=render partial: 'board_form', locals: { board: @board }

.filters
  %dl.sub-nav#filter-by
    %dt Filter by:
    %dd.active= link_to "All", "#", data: { :filter => "*" }
    %dd= link_to "Twitter", "#", data: { :filter => ".twitter, .always-show" }
    %dd= link_to "Instagram", "#", data: { :filter => ".instagram, .always-show" }
    %dd= link_to "Tumblr", "#", data: { :filter => ".tumblr, .always-show" }

  %dl.sub-nav#sort-by
    %dt Sort by:
    %dd.active= link_to "Date Added", "#original-order"
    %dd= link_to "Name", "#name"
    %dd= link_to "Kamikaze", "#random"

.board#container
  -@board.cards.each do |card|
    = render partial: 'cards/card', locals: { card: card, board: @board }
  = render partial: 'cards/add_card', locals: { board: @board, card: @card }
