.board-name
  %h2= @board.name

.board_desc
  %h4.subheader= "#{@board.description}" 
%p
  - if current_user
    - hideFollow = !BoardUser.where(user_id: current_user.id, board_id: @board.id).empty?
    = link_to 'Edit', '#' ,class: 'board-edit', remote: true
    = link_to "Destroy", @board, :confirm => 'Are you sure?', method: :delete 
    = link_to 'Unfollow', board_user_path(@board.id), method: :delete, remote: true, class: 'unfollow '+ (hideFollow ? "" : "hidden")
    = link_to 'Follow', board_users_path(@board.id), method: :post, remote: true, class: 'follow ' + (hideFollow ? "hidden" : "")
.inline-edit=render 'form'

.filters
  %dl.sub-nav#filter-by
    %dt Filter by:
    %dd.active= link_to "All", "#", data: { :filter => "*" }
    %dd= link_to "Twitter", "#", data: { :filter => ".twitter, .always-show" }
    %dd= link_to "Instagram", "#", data: { :filter => ".instagram, .always-show" }

  %dl.sub-nav#sort-by
    %dt Sort by:
    %dd.active= link_to "Date Added", "#original-order"
    %dd= link_to "Updated", "#updated_at"
    %dd= link_to "Name", "#name"
    %dd= link_to "???", "#random"

.board#container
  -@board.cards.each do |card|
    = render partial: 'cards/card', locals: { card: card, board: @board }
  = render partial: 'cards/add_card', locals: { board: @board, card: @card }
