.board-name
  %strong= @board.name

.board_desc
  %em= "#{@board.description}" 
%p
  = link_to 'Edit', '#' ,class: 'board-edit', remote: true
  = link_to "Destroy", @board, :confirm => 'Are you sure?', method: :delete 
  = link_to "View All", boards_path
  = link_to 'Unfollow', board_user_path(@board.id), method: :delete, remote: true, class: 'unfollow'
  = link_to 'Follow', board_users_path(@board.id), method: :post, remote: true, class: 'follow'
.inline-edit=render 'form'

.board
  .all_cards
    -@board.cards.each do |card|
      = render partial: 'cards/card', locals: { card: card, board: @board }
