.flip
  .card{ :id => "#{card.slug}" }
    .face.front 
      .header
        .mini-pic
          -img_url = "http://res.cloudinary.com/demo/image/twitter_name/w_200,h_200,c_fill/#{card.twitter_handle}.jpg"
          = image_tag(img_url)
    .face.back  
      .header
        .mini-pic
          -img_url = "http://res.cloudinary.com/demo/image/twitter_name/w_45,h_45,c_fill/#{card.twitter_handle}.jpg"
          = image_tag(img_url)
        .name
          =card.name
        .last-updated
          %span{class: 'delete'}
            = link_to 'X', board_card_path(card.id, board.id), {remote: true, method: 'delete', class: 'delete'}
          = link_to 'U', get_tweets_card_path(card), {remote: true, class: 'update'} 
          37m
      .news
      .footer
        ='...'