.card-wrapper{ :class => classify(card) }
  .flip
    .card{ :id => "#{card.slug}" }
      .face.front 
        %span{class: 'delete'}
          - if board
            .glyph.general
              = link_to 'g', board_card_path(card.id, board.id), {remote: true, method: 'delete', class: 'delete-front'}
        -image_url = "http://res.cloudinary.com/demo/image/twitter_name/w_325,h_325,c_fill/#{card.twitter_handle}.jpg"
        .img
          .mega-pic{:style => "background-image: url(#{image_url})"}

          
      .face.back
        .header
          -img_url = "http://res.cloudinary.com/demo/image/twitter_name/w_45,h_45,c_fill/#{card.twitter_handle}.jpg"
          .card-info
            .mini-pic{:style => "background-image: url(#{img_url})",:id => "#{card.twitter_handle}"}
            .name-container
              .name= card.name.downcase
            .right-header
              %span{class: 'delete'}
                - if board
                  .glyph.general
                    = link_to 'g', board_card_path(card.id, board.id), {remote: true, method: 'delete', class: 'delete'}
                    / %a{href:board_card_path(card.id, board.id), remote:true}
              .updates
                = link_to 'E', edit_card_path(card), {remote: true, class: 'edit-card'}
                = link_to 'U', get_posts_card_path(card), {remote: true, class: 'get-posts'} 
                %span{class: 'last'}
                %span{:class => 'updated-at-value'}
                  0
        .news
        .footer= '...'
        
  .edit-form
    = form_for card do |f| 
      -if board
        = f.hidden_field :board, value: board.slug

      = f.label :name 
      = f.text_field :name 

      = f.label :twitter_handle
      = f.text_field :twitter_handle 

      = f.label :instagram_handle
      = f.text_field :instagram_handle 

      = f.label :tumblr_handle
      = f.text_field :tumblr_handle 

      = f.submit 
