.header
  -img_url = "http://res.cloudinary.com/demo/image/twitter_name/w_45,h_45,c_fill/#{card.twitter_handle}.jpg"
  .mini-pic{:style => "background-image: url(#{img_url})",:id => "#{card.slug}"}
  .name-container
    .name= card.name.downcase
  .right-header
    %span{class: 'delete'}
      - if board
        = link_to 'X', board_card_path(card.id, board.id), {remote: true, method: 'delete', class: 'delete'}
    .updates
      = link_to 'U', get_posts_card_path(card), {remote: true, class: 'get-posts'} 
      %span{class: 'last'}
      %span{:class => 'updated-at-value'}
        0
.news
.footer
  ='...'