= form_for card do |f| 

  -if board
    = f.hidden_field :board, value: board.slug

  = f.label :name 
  = f.text_field :name 

  = f.label :twitter_handle
  = f.text_field :twitter_handle 

  = f.label :instagram_handle
  = f.text_field :instagram_handle 

  = f.submit 