!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Stacked"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    .contain-to-grid.fixed.frosty
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1= link_to "Stacked", :root
        %section.top-bar-section
          %ul.right
            / global search bar
            = render partial: 'layouts/search_global', locals: {cards_results: @cards_results, boards_results: @boards_results}

            %li.divider
            -if signed_in?
              %li.has-dropdown
                - img_url = "http://res.cloudinary.com/demo/image/twitter_name/w_45,h_45,c_fill/#{current_user.username}.jpg"
                = image_tag(img_url)
                %ul.dropdown
                  %li= link_to "My Boards", :boards
                  %li= link_to "Log Out", session_url(current_user), method: :delete
            -else
              %li.has-dropdown
                =link_to "Log In or Sign Up!", "#"
                %ul.dropdown
                  %li= link_to "Twitter", '/auth/twitter'
                  %li= link_to "Instagram", '/auth/instagram'
    .container
      .row
        .left-sidebar.small-2.large-2.columns.frosty
          %h4 New Boards
          %ul.side-nav.board-list
            %li.divider
            -Board.order('created_at DESC').limit(10).each do |board|
              %li.board-link{ :id => "#{board.slug}" }
                =link_to "#{board.name}", board_url(board)
              %li.divider
          %h4 Followed Boards
          - if current_user
            %ul.side-nav.board-list
              - BoardUser.where(user_id: current_user).each do |board_user|
                %li.divider
                - board = Board.find(board_user.board_id)
                =link_to board.name, board_url(board)
              %li.divider
        .main.small-10.large-10.columns
          = yield
        / .right-sidebar.large-2.small-3.columns
        /   %h2 Search
      .row
        .footer
          .footer-tagline You ain't seen nothin' yet.
          .footer-team Coded up by Eric Chen, Daniel Willems, Clint Mullins, and Mitch Seaman


    = javascript_include_tag "application"

    = render "shared/templates"